<div class="am-cf admin-main">
    <!-- content start -->
    <div class="admin-content">
        <div class="product-bannner">
            <div class="am-container m-width am-cf">
                <div class="product-banner-title am-vertical-align am-fl">
                    <div class="am-vertical-align-middle am-scrollspy-init am-scrollspy-inview am-animation-scale-down"
                         data-am-scrollspy="{animation:'scale-down', repeat: false}">
                        <h2>NG-Valve Visualization</h2>
                        <h3>a simple 3D model demo for valve software</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
    <span class="am-icon-btn am-icon-th-list"></span>
</a>