<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Amaze UI</title>
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="../assets/css/amazeui.css">
    <link rel="stylesheet" href="../assets/css/3.css">
    <style></style>
</head>
<body>
<div id="paper" class="wrapper">
    <div class="nav-top am-g">
        <div class="am-u-sm-1">
        	<span class="back-wallet am-icon-chevron-left"></span>
        </div>
        <div class="am-u-sm-11 am-text-lg">优惠券</div>
    </div>
    <ul class="on-sale am-list">
        <li class="am-g">
        	<div class="am-u-sm-8">
            	<span class="am-text-sm">优衣库-智慧广场店优惠券</span><br>
                <span class="am-text-xs">使用期限&nbsp;&nbsp;2015-03-01&nbsp;-&nbsp;2015-08-01</span>
            </div>
        	<div class="am-u-sm-4 am-padding-right-0"><img src="../assets/6.jpg" class="am-img-responsive am-fr"></div>
        </li>
        <li class="am-g">
        	<div class="am-u-sm-8">
            	<span class="am-text-sm">优衣库-智慧广场店优惠券</span><br>
            	<span class="am-text-xs">使用期限&nbsp;&nbsp;2015-03-01&nbsp;-&nbsp;2015-08-01</span>
            </div>
        	<div class="am-u-sm-4 am-padding-right-0"><img src="../assets/7.jpg" class="am-img-responsive"></div>
        </li>
    </ul>
</div>
<script src="../assets/js/director.js"></script>
<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/amazeui.js"></script>
<script>
    $(function() {
        $('.back-wallet').click(function() {
            console.log('home');
            location.href = '#/mymenu/backwallet';
        });
    });
</script>
<script src="../assets/js/routeActions2.js"></script>
<script src="../assets/js/routing.js"></script>
</body>
</html>
