<!DOCTYPE html>
<html>
<html class="no-js">
<meta charset="UTF-8">
<title>Login Page | 智慧工会</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="renderer" content="webkit">
<meta http-equiv="Cache-Control" content="no-siteapp" />
<link rel="alternate icon" type="image/png" href="../assets/i/favicon.png">
<link rel="stylesheet" href="../assets/css/amazeui.min.css"/>
<link rel="stylesheet" href="../assets/css/app.css">
<link rel="stylesheet" href="../assets/css/admin.css">
<style>
    .category {
        border:1px ridge gray
    }


</style>
</head>
<body>
<!-- Header -->
<header data-am-widget="header" class="am-header am-header-default">

    <h1 class="am-header-title">
        <a href="#title-link" class="">我的</a>
    </h1>
    <div class="am-header-right am-header-nav">
        <a href="#right-link" class="">
            <i class="am-header-icon am-icon-ellipsis-h"></i>
        </a>
    </div>
</header>


<div class="am-g">
    <div class="am-panel am-panel-default am-g">
        <div class="am-g">
            <div class="am-u-sm-4">
                <img class="am-img-thumbnail am-circle" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/1000/h/1000/q/80" width="140" height="140"/>
            </div>
            <div class="am-u-sm-8">
                <div>
                    <span>jiangyuhe</span>
                </div>
                <div>
                    <span>张江工会</span>
                </div>
                <br>
                <div>
                    <span>积分：</span>
                    <span>800</span>
                </div>
            </div>
        </div>
    </div>
    <div class="am-g">
        <ul class="am-avg-sm-4 am-avg-md-4 am-margin am-text-center admin-content-list ">
            <li><a href="#" class="am-text-success "><br/>优惠券<br/>2300</a></li>
            <li><a href="#" class="am-text-warning "><br/>抵用券<br/>308</a></li>
            <li><a href="#" class="am-text-danger "><br/>电影券<br/>80082</a></li>
            <li><a href="#" class="am-text-secondary "><br/>余额<br/>3000</a></li>
        </ul>
    </div>
</div>

<ul class="am-nav">
    <li><a href="#">我的订单</a></li>
    <li class="am-nav-divider"></li>
    <li><a href="#">我的关注</a></li>
    <li class="am-nav-divider"></li>
    <li><a href="#">我的消息</a></li>
    <li class="am-nav-divider"></li>
    <li><a href="#">我的审批</a></li>
    <li class="am-nav-divider"></li>
    <li><a href="#">我的钱包</a></li>
    <li class="am-nav-divider"></li>
    <li><a href="#">我的积分</a></li>
    <li class="am-nav-divider"></li>
</ul>

<!-- Navbar -->
<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="###" class="">
                <span class="am-icon-home am-icon-sm"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="###" class="">
                <span class="am-icon-buysellads"></span>
                <span class="am-navbar-label">优惠</span>
            </a>
        </li>
        <!--
        <li data-am-navbar-qrcode>
            <a href="###" class="">
                <span class="am-icon-qrcode"></span>
                <span class="am-navbar-label">二维码</span>
            </a>
        </li>
        <li>
            <a href="###" class="">
                <span class="am-icon-search"></span>
                <span class="am-navbar-label">发现</span>
            </a>
        </li>
        <li data-am-navbar-share>
            <a href="###" class="">
                <span class="am-icon-share-square"></span>
                <span class="am-navbar-label">分享</span>
            </a>
        </li>
        -->
        <li>
            <a href="###" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>

<script src="../assets/js/jquery.min.js"></script>
<script src="../assets/js/amazeui.min.js"></script>

</body>
</html>