<!-- Header -->
<div class="nav-top am-g">
    <div class="am-u-sm-1">
        <span class="back-home am-icon-chevron-left"></span>
    </div>
    <div class="am-u-sm-11 am-text-lg">我的消息</div>
</div>

<div class="am-g">
    <div data-am-widget="tabs" class="am-tabs am-tabs-default">
        <ul class="am-tabs-nav am-cf">
            <li class="am-active">
                <a href="[data-tab-panel-0]">消息(4)</a>
            </li>
            <li class="">
                <a href="[data-tab-panel-1]">活动(2)</a>
            </li>
            <li class="">
                <a href="[data-tab-panel-2]">公告(6)</a>
            </li>
        </ul>
        <div class="am-tabs-bd">
            <div data-tab-panel-0 class="am-tab-panel am-active">
                <table class="am-table am-table-bd am-table-striped admin-content-table">
                    <tbody>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;青葱年代邀请您一起看电影</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;工会猪你生日快乐。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;你不懂我，我不怪你。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;没有天天涨，也没有天天跌的。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;青葱年代邀请您一起看电影</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;工会猪你生日快乐。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;你不懂我，我不怪你。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;没有天天涨，也没有天天跌的。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-tab-panel-1 class="am-tab-panel ">
                <table class="am-table am-table-bd am-table-striped admin-content-table">
                    <tbody>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;青葱年代邀请您一起看电影</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;工会猪你生日快乐。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;你不懂我，我不怪你。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;没有天天涨，也没有天天跌的。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;青葱年代邀请您一起看电影</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;工会猪你生日快乐。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;你不懂我，我不怪你。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;没有天天涨，也没有天天跌的。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div data-tab-panel-2 class="am-tab-panel ">
                <table class="am-table am-table-bd am-table-striped admin-content-table">
                    <tbody>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;青葱年代邀请您一起看电影</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;工会猪你生日快乐。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;你不懂我，我不怪你。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;没有天天涨，也没有天天跌的。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;青葱年代邀请您一起看电影</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;工会猪你生日快乐。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder-open am-icon-fw"></i>&nbsp;&nbsp;&nbsp;你不懂我，我不怪你。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="am-text-truncate"><i class="am-icon-folder am-icon-fw"></i>&nbsp;&nbsp;&nbsp;没有天天涨，也没有天天跌的。</a></td>
                        <td>
                            <div class="am-dropdown" data-am-dropdown>
                                <button class="am-btn am-btn-default am-btn-xs am-dropdown-toggle" data-am-dropdown-toggle><span class="am-icon-cog"></span> <span class="am-icon-caret-down"></span></button>
                                <ul class="am-dropdown-content">
                                    <li><a href="#">编辑</a></li>
                                    <li><a href="#">下载</a></li>
                                    <li><a href="#">删除</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Navbar -->
<!--<div data-am-widget="navbar" class="am-navbar am-cf am-navbar-default "
     id="">
    <ul class="am-navbar-nav am-cf am-avg-sm-4">
        <li>
            <a href="###" class="">
                <span class="am-icon-home am-icon-sm"></span>
                <span class="am-navbar-label">首页</span>
            </a>
        </li>
        <li>
            <a href="###" class="">
                <span class="am-icon-buysellads"></span>
                <span class="am-navbar-label">优惠</span>
            </a>
        </li>
        &lt;!&ndash;
        <li data-am-navbar-qrcode>
            <a href="###" class="">
                <span class="am-icon-qrcode"></span>
                <span class="am-navbar-label">二维码</span>
            </a>
        </li>
        <li>
            <a href="###" class="">
                <span class="am-icon-search"></span>
                <span class="am-navbar-label">发现</span>
            </a>
        </li>
        <li data-am-navbar-share>
            <a href="###" class="">
                <span class="am-icon-share-square"></span>
                <span class="am-navbar-label">分享</span>
            </a>
        </li>
        &ndash;&gt;
        <li>
            <a href="###" class="">
                <span class="am-icon-user"></span>
                <span class="am-navbar-label">我的</span>
            </a>
        </li>
    </ul>
</div>-->
<script>
    $(function() {
        $('.back-home').click(function() {
            console.log('home');
            location.href = '#/';
        });
    });
</script>
