<div class="am-g am-panel am-panel-default">
    <header class="am-panel-hd">
        <h3 class="am-panel-title">工会联合会覆盖公司</h3>
    </header>
    <br/>
    <div class="am-u-sm-6 am-text-center">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd">工会联合会选择</div>
            <div class="am-panel-bd">
                <div style="min-height: 300px;">
                    <select data-am-selected="{btnWidth: '50%', btnSize: 'sm', btnStyle: 'secondary'}" class="am-selected"
                            data-bind="value: selectedCollectionUnion,
                            options: collectionUnions, optionsText: 'name', optionsValue: 'id',  event: { change: setSelectedCollectionUnion }">
                    </select>
                </div>
                <div class="am-panel-group" id="unionPanel">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#unionPanel', target: '#do-not-say-1'}">
                                工会联合会详细信息
                            </h4>
                        </div>
                        <div id="do-not-say-1" class="am-panel-collapse am-collapse">
                            <div class="am-panel-bd">
                                <table class="am-table am-table-bd am-table-striped am-table-hover">
                                    <thead>
                                        <tr>
                                            <th>公司名</th><th>组织机构代码</th><th>法人代表</th><th>注资类型</th><th>员工数</th><th>注册资本</th><th>电话号码</th><th>地址</th><th>操作</th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: collectedCompanys">
                                        <tr>
                                            <td data-bind="text: $data.name"></td>
                                            <td data-bind="text: $data.orgCode"></td>
                                            <td data-bind="text: $data.legalRepresentative"></td>
                                            <td data-bind="text: $data.economicType.name"></td>
                                            <td data-bind="text: $data.employeeNum"></td>
                                            <td data-bind="text: $data.investmentAmount"></td>
                                            <td data-bind="text: $data.phoneNum"></td>
                                            <td data-bind="text: $data.addressDetail"></td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <button class="am-btn am-btn-danger am-btn-xs" data-bind="click: $parent.cancelBind"><span class="am-icon-trash-o"></span> 取消关联</button>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="am-u-sm-6 am-text-center">
        <div class="am-panel am-panel-default">
            <div class="am-panel-hd">公司选择</div>
            <div class="am-panel-bd">
                <div style="min-height: 300px;">
                    <select data-am-selected="{searchBox: 1, btnWidth: '60%', btnSize: 'sm', btnStyle: 'secondary'}" class="am-selected"
                            data-bind="value: selectedCompany,
                            options: companyList, optionsText: 'name', optionsValue: 'id',  event: { change: setSelectedCompany }">
                    </select>
                </div>
                <div class="am-panel-group" id="companyDetail">
                    <div class="am-panel am-panel-default">
                        <div class="am-panel-hd">
                            <h4 class="am-panel-title" data-am-collapse="{parent: '#companyDetail', target: '#do-not-say-2'}">
                                公司详细信息
                            </h4>
                        </div>
                        <div id="do-not-say-2" class="am-panel-collapse am-collapse">
                            <div class="am-panel-bd">
                                <div class="am-g">
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group">
                                            <span>
                                                公司名:
                                            </span>
                                            <span data-bind="text: companyName"></span>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group">
                                            <span>
                                                组织机构代码:
                                            </span>
                                            <span data-bind="text: orgCode"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-g">
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group">
                                            <span>
                                                法人代表:
                                            </span>
                                            <span data-bind="text: legalRepresentative"></span>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group">
                                            <span>
                                                注资类型:
                                            </span>
                                            <span data-bind="text: economicType"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-g">
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group">
                                            <span>
                                                员工数:
                                            </span>
                                            <span data-bind="text: employeeNum"></span>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group">
                                            <span>
                                                注册资本:
                                            </span>
                                            <span data-bind="text: investmentAmount"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="am-g">
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group">
                                            <span>
                                                电话号码:
                                            </span>
                                            <span data-bind="text: phoneNum"></span>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group">
                                            <span>
                                                地址:
                                            </span>
                                            <span data-bind="text: addressDetail"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="am-u-sm-12 am-text-center">
        <div>
            <button class="am-btn am-btn-secondary am-btn-block am-btn-sm am-text-sm" data-bind="click: bindCompanyWithUnion">联接</button>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="bind-success">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">关联结果</div>
        <div class="am-modal-bd">
            <div>
                <label data-bind="text: app.ui.unionaddress.result.success"></label>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="bind-fail">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">关联结果</div>
        <div class="am-modal-bd">
            <div>
                <label data-bind="text: app.ui.unionaddress.result.fail"></label>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="errorAlert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">出错啦</div>
        <div class="am-modal-bd" data-bind="foreach: errorMsgs">
            <label class="checkbox">
                <span data-bind="text: $data.message"></span>
            </label>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
<a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
    <span class="am-icon-btn am-icon-th-list"></span>
</a>