<div class="am-g am-panel am-panel-default">
    <header class="am-panel-hd">
        <h3 class="am-panel-title">会员快速搜索</h3>
    </header>
    <br/>
    <!-- Search Panel -->
    <div class="am-u-sm-12">
        <div class="am-panel am-panel-default">
            <div class="am-panel-bd">
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <div class="am-input-group am-input-group-secondary">
                            <input type="text" class="am-form-field am-input-sm" placeholder="输入会员名称搜索" data-bind="value: searchUserName">
                            <span class="am-input-group-btn">
                                <button class="am-btn am-btn-secondary" type="button" data-bind="click:searchClick"><span class="am-icon-search"></span></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Result Table -->
    <div class="am-u-sm-12">
        <!-- User Search Result -->
        <div class="am-panel am-panel-secondary" id="panelUser">
            <div class="am-panel-hd">
                <h3 class="am-panel-title" data-am-collapse="{parent: '#panelUnion', target: '#do-not-say-3'}">员工搜索结果</h3>
            </div>
            <div id="do-not-say-3" class="am-panel-collapse am-collapse am-in">
                <div class="am-panel-bd">
                    <table class="am-table am-table-bd am-table-striped am-table-hover">
                        <thead>
                        <tr>
                            <th>员工姓名</th><th>手机号</th><th>邮箱</th><th>工作单位</th><th>所属工会</th><th>操作</th>
                        </tr>
                        </thead>
                        <tbody data-bind="foreach: userList">
                        <tr>
                            <td data-bind="text: $data.name"></td>
                            <td data-bind="text: $data.phone"></td>
                            <td data-bind="text: $data.email"></td>
                            <td data-bind="text: $data.enterprise.name"></td>
                            <td data-bind="text: $data.tu.name"></td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button class="am-btn am-btn-secondary am-btn-xs" data-bind="click: $parent.modifyUser"><span class="am-icon-pencil-square-o"></span> 详细信息</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Detail information -->
    <div class="am-u-sm-12">
        <!-- User detail -->
        <div class="am-panel am-panel-secondary am-hide" id="panelUserDetail">
            <div class="am-panel-hd">
                <h3 class="am-panel-title" data-am-collapse="{parent: '#panelUnion', target: '#do-not-say-6'}" data-bind="text: userDetailTitle"></h3>
            </div>
            <div id="do-not-say-6" class="am-panel-collapse am-collapse">
                <div class="am-panel-bd">
                    <div class="am-g">
                        <div class="am-u-md-12" id="collapse-panel-user-1">
                            <fieldset disabled id="idFieldsetUserInfo">
                                <div class="am-g">
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group am-input-group-sm">
                                            <span class="am-input-group-label">姓名:</span>
                                            <input type="text" class="am-form-field" data-bind="value: userName" id="userName"/>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group am-input-group-sm">
                                            <span class="am-input-group-label">证件类型:</span>
                                            <input type="text" class="am-form-field" data-bind="value: userCardType" id="userCardType"/>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="am-g">
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group am-input-group-sm">
                                            <span class="am-input-group-label">证件号:</span>
                                            <input type="text" class="am-form-field" data-bind="value: userCard" id="userCard"/>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group am-input-group-sm">
                                            <span class="am-input-group-label">电子邮件:</span>
                                            <input type="text" class="am-form-field" data-bind="value: userEmail" id="userEmail"/>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="am-g">
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group am-input-group-sm">
                                            <span class="am-input-group-label">手机号:</span>
                                            <input type="text" class="am-form-field" data-bind="value: userMobile" id="userMobile"/>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group am-input-group-sm">
                                            <span class="am-input-group-label">简介:</span>
                                            <input type="text" class="am-form-field" data-bind="value: userIntroduction" id="userIntroduction"/>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="am-g">
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group am-input-group-sm">
                                            <span class="am-input-group-label">工作单位:</span>
                                            <input type="text" class="am-form-field" data-bind="value: userCompany" disabled id="userCompany"/>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group am-input-group-sm">
                                            <span class="am-input-group-label">所属工会:</span>
                                            <input type="text" class="am-form-field" data-bind="value: userUnion" disabled id="userUnion"/>
                                        </div>
                                    </div>
                                </div>
                                <br/>
                                <div class="am-g">
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group am-input-group-sm">
                                            <span class="am-input-group-label">QQ号:</span>
                                            <input type="text" class="am-form-field" data-bind="value: userQQ" id="userQQ"/>
                                        </div>
                                    </div>
                                    <div class="am-u-sm-6">
                                        <div class="am-input-group am-input-group-sm">
                                            <span class="am-input-group-label">微博号:</span>
                                            <input type="text" class="am-form-field" data-bind="value: userWeiBo" id="userWeiBo"/>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="user-search-null">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">搜索会员结果</div>
        <div class="am-modal-bd">
            <div>
                <label data-bind="text: app.ui.userquicksearch.result.null"></label>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>

<div class="am-modal am-modal-alert" tabindex="-1" id="user-detail-null">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">会员访问受限</div>
        <div class="am-modal-bd">
            <div>
                <label data-bind="text: app.ui.userquicksearch.detail.null"></label>
            </div>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
<div class="am-modal am-modal-alert" tabindex="-1" id="errorAlert">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">出错啦</div>
        <div class="am-modal-bd" data-bind="foreach: errorMsgs">
            <label class="checkbox">
                <span data-bind="text: $data.message"></span>
            </label>
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn">确定</span>
        </div>
    </div>
</div>
<a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
    <span class="am-icon-btn am-icon-th-list"></span>
</a>