<!-- Header -->
<header class="am-topbar am-topbar-inverse">
    <h1 class="am-topbar-brand">
        <a href="#" data-bind="text: app.ui.header.title"></a>
    </h1>
    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
        <form class="am-topbar-form am-topbar-left am-form-inline" role="search">
            <div class="am-form-group">
                <input type="text" class="am-form-field am-input-sm" placeholder="Search">
            </div>
        </form>

        <div class="am-topbar-right">
            <div class="am-dropdown" data-am-dropdown="{boundary: '.am-topbar'}">
                <button class="am-btn am-btn-secondary am-topbar-btn am-btn-sm am-dropdown-toggle" data-bind="text: app.ui.header.others" data-am-dropdown-toggle ><span class="am-icon-caret-down"></span></button>
                <ul class="am-dropdown-content">
                    <li><a href="#" data-bind="text: app.ui.header.register"></a></li>
                    <li><a href="#" data-bind="text: app.ui.header.my.message"></a></li>
                </ul>
            </div>
        </div>

        <div class="am-topbar-right">
            <button class="am-btn am-btn-primary am-topbar-btn am-btn-sm" data-bind="text: app.ui.header.login"></button>
        </div>
    </div>
</header>