<div id="paper" class="wrapper">
    <div class="nav-top am-g">
        <div class="am-u-sm-1">
            <span class="back-home am-icon-chevron-left"></span>
        </div>
        <div class="am-u-sm-11 am-text-lg">注册</div>
    </div>

    <div class="my-form">
        <form class="am-form">
            <div class="am-g form-line">
                <div class="am-u-sm-2 am-icon-user am-text-center"></div>
                <div class="am-u-sm-10"><input type="text" class="" id="mobile" placeholder="请输入手机号"></div>
            </div>
            <div class="am-g form-line">
                <div class="am-u-sm-2 am-icon-mobile am-text-center"></div>
                <div class="am-u-sm-6"><input type="text" class="" id="mobile" placeholder="请输入验证码"></div>
                <div class="am-u-sm-4">
                    <button class="am-btn am-btn-xs am-radius">获取验证码</button>
                </div>
            </div>
            <div class="am-g form-line">
                <div class="am-u-sm-2 am-text-center am-icon-calculator"></div>
                <div class="am-u-sm-10"><input type="password" class="am-text-xs" id="mobile" placeholder="请输入密码"></div>
            </div>
            <div class="am-text-center">
                <button type="submit" class="back-home am-btn am-radius form-submit" style="">注册</button>
            </div>
        </form>
    </div>
</div>
<!--<div class="header">
    <div class="am-g">
        <h1>智慧工会注册</h1>
    </div>
    <hr />
</div>
<div class="am-g">
    <div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
        <h3>注册</h3>
        <hr>
        <div class="am-btn-group">
            <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-qq am-icon-sm"></i>QQ</a>
            <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-wechat am-icon-sm"></i>微信</a>
            <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-weibo am-icon-sm"></i>微博</a>
        </div>
        <br>
        <br>

        <form method="post" class="am-form">
            <div id="invalid_credential_alert_container"></div>
            <br/>
            <label for="phoneNumber">手机号:</label>
            <input type="text" tabindex="1" class="input-large" id="phoneNumber" autocomplete="off" value="" placeholder="Phone Number">
            <br/>
            <label for="realName">真实姓名:</label>
            <input type="text" tabindex="2" class="input-large" id="realName" autocomplete="off" value="" placeholder="Name">
            <br/>
            <label for="checkCode">验证码:</label>
            <div class="am-g">
                <div class="am-u-sm-6">
                    <input type="text" tabindex="3" class="input-large" id="checkCode" autocomplete="off" value="" placeholder="Check Code">
                </div>
                <div class="am-u-sm-6">
                    <button type="button" class="am-btn am-btn-default am-btn-sm am-fl" value="" name="">获取验证码</button>
                </div>
            </div>
            <br/>

            <div class="am-btn-group">
                <button type="button" class="am-btn am-btn-primary am-radius" onclick="companyNameClick();">公司名称</button>
                <button type="button" class="am-btn am-btn-primary am-radius" onclick="companyAddressClick();">公司地址</button>
            </div>

            <br/>
            <br/>
            <div class="am-g" id="companyNameDiv">
                <div class="am-u-lg-12">
                    <div class="am-input-group am-input-group-primary">
                        <span class="am-input-group-btn">
                        <button class="am-btn am-btn-primary" type="button"><span class="am-icon-search"></span></button>
                        </span>
                        <input type="text" class="am-form-field">
                    </div>
                </div>
            </div>

            <div class="am-g" id="companyAddressDiv" style="display: none">
                <div id="city_2">
                    <div class="am-u-sm-4"><select class="prov" style="width: 80%"></select>
                    </div>
                    <div class="am-u-sm-4"><select class="city" style="width: 80%" disabled="disabled"></select></div>
                    <div class="am-u-sm-4"><select class="dist" style="width: 80%" disabled="disabled"></select></div>
                </div>
                <div class="am-u-sm-12">
                    <label for="detailAddress">详细地址</label>
                    <input type="text" class="input-large" autocomplete="on" value="" id="detailAddress">
                </div>
            </div>

            <br/>
            <br/>
            <div class="am-cf">
                <button type="button" class="am-btn am-btn-primary am-btn-sm am-fl">注册</button>
            </div>
        </form>
        <hr>
        <p>2015 智慧工会 Licensed under MIT license.</p>
    </div>
</div>-->
<script>
    function companyNameClick () {
        $("#companyNameDiv").css('display','block');
        $("#companyAddressDiv").css('display','none');
    }

    function companyAddressClick () {
        $("#companyNameDiv").css('display','none');
        $("#companyAddressDiv").css('display','block');

        $("#city_2").citySelect({
            prov:"上海",
            nodata:"none"
        });
    }

</script>
<script>
    $(function() {
        $('.back-home').click(function() {
            console.log('home');
            location.href = '#/';
        });
    });
</script>