/* Write your styles */
body{ background:#eee;}
.wrapper{ }
.nav-top{ line-height:5rem; background-color:#fff;}
.share{ margin-top:-4.5rem;}
.score{ line-height:6rem }
.func{}
.func span:first-child{ border-right:1px solid #dedede;}
.func span:last-child{ border-left:1px solid #dedede;}